/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 30px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height:283px !important;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin:0 0.6%;
	-webkit-backface-visibility: hidden;

	font-family: "Open SansRegular", Arial, sens-serif !important;
	color: #009fe2 !important;
	text-align: center;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
	text-decoration:none;
	font-size: 14px !important;
	font-family: "Open SansRegular", Arial, sens-serif !important;
	color: #009fe2;
	overflow:hidden;
}

.elastislide-carousel ul li a span{
	color:#254a75;
	font-size: 12px !important;
	font-family: "Open SansRegular", Arial, sens-serif !important;
}

.elastislide-carousel ul li a:hover img{
	
	border:3px solid #254a75;
}

.elastislide-carousel ul li a img {
	display: block;
	border:3px solid #fff;
	max-width: 100%;
	padding-left:2px;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: url(../img/nav2.png) no-repeat 0 0;
	width: 10px;
	height: 55px;

	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 30%;
	left: 0;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 30%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 0;
	left: auto;
	background-position: -20px 0;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}