@import url(reset.css);

@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {

}

h1,h2,h3,h4,h5,h6,a,p{
    font-family:"Open SansRegular", Arial, sens-serif;
}


header,footer{

    background: #009fe2;
    overflow: hidden;
    border-bottom:3px solid #d3d1c8;

}

header{
	width:100%;
	position:relative;
	z-index:1000;
}

.in_header,.in_footer{
    max-width:1010px;
    margin:0 auto;
    overflow: hidden;
}

.zapis_mobile{
	display:none;
}

.in_footer{
	padding-right:200px;
}

.in_footer .menu_footer li{
	background: none !important;
	float:right;
}
.in_footer .menu_footer li a{
	text-decoration:none;
    color:#fff;
    display:block;
    padding:27px 20px 25px 20px;
    text-shadow:1px 1px 1px rgba (0, 0, 0, 0.7);
    text-transform:uppercase;
    font-family:"Open SansRegular", Arial, sens-serif !important;
    font-size:16px;
    font-weight:normal;
}

/*���� ������*/
.menu {
    display:inline-block;
    float:right;
    margin-top:0;

    
}

.menu a#pull{
    display:none;
    clear:both;
}
.menu li{
    float:left;
    list-style:none;
    background: url(../img/razd.png) 100% 18px no-repeat;
}

.menu :last-child {
    background: none;
}

div.zapis {
    width:182px;
    height:41px;
    float:right;
    margin:10px 20px 0 0;
    background: url(../img/zapis.png) no-repeat;
}

div.zapis a {
    text-decoration:none;
    color:#fff;
    line-height:41px;
    text-align: center;
    display:block;
    text-transform:uppercase;
    font-size:11px;
    background: url(../img/galka.png) no-repeat 156px 8px;
    padding: 0 24px 0 0;
    font-family: "MyriadProRegular", Arial, sens-serif;
}

.menu li a{
    text-decoration:none;
    color:#fff;
    display:block;
    padding:27px 20px 25px 20px;
    text-shadow:1px 1px 1px rgba (0, 0, 0, 0.7);
    text-transform:uppercase;
    font-family:"Open SansRegular", Arial, sens-serif !important;
    font-size:18px;
    font-weight:normal;
}

.menu li a:hover {
    background: url(../img/dash.png) no-repeat center bottom;
}

.zapis_modal a{
    padding: 0 !important;
    overflow:hidden;
}

.zapis_modal :hover{
    cursor:pointer;
}

.zapis_modal a:hover{
    background: none !important;
}

h2.all_price a{
    text-decoration:none;
    color:inherit;
}

h2.all_price a:hover {
    cursor:pointer !important;
    text-decoration:none;
    color:inherit;
}

/*���� �����*/

/* ��������� ���� ������*/

.m-dotted{
    display:block;
    width:184px;
    height:43px;

    background: url("../img/zapis.png") no-repeat center !important;
    padding:23px 0 0 40px;
    float:right;

}

/* ��������� ���� �����*/

/* ���� obchestvo ������*/
.clear {
    clear: both;
}

.obchestvo {
    overflow: hidden;
    position: relative;
    max-width:1400px;
    margin:0 auto;

}

.logo{
    float:left;
    display: inline-block;
    padding-right: 10px;
}

.slugba {
    float:right;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
	max-width:25%;
}

.logo_left {
    overflow: hidden;
    width:50%;
    float:left;
    text-align: center;

}

.logo_right{
    overflow: hidden;
    width:50%;
    float:right;
}


.phone{
    overflow: hidden;
    padding-left:45px;

}

.pointer :hover{
    cursor:pointer;
}

.number {
    background: url('../img/phone.png') no-repeat left top;
    padding: 0 5px 5px 45px;
    width:240px;
}

.number :first-child {
    font-size:22px;
    text-transform:uppercase;
    padding:0 0 5px 0;
    color: #5e5a55;
    text-align:center;
    margin-left:-15px;
}

.number :nth-child(2) {
    font-size:18px;
    padding:0 0 5px 0;
    border-bottom: 2px dashed #ccc;
    text-align:center;
    font-family: "MyriadProRegular", Arial, sens-serif;
    color:#254a75;

 }

.number :nth-child(3) {
    font-size:15px;
    padding:15px 0 5px 0;
    color:#3baee5;

    text-align:center;
}

.logo_right{
    overflow:hidden;

}

.akciy {
    background: url('../img/akciy.png') no-repeat center;
    width:318px;
    height:114px;
    text-align: center;
    margin-top:30px;
	backgroun-size:100%;
}

.akciy p{
    line-height: 114px;
    color:#e12923;
    text-align: center;
    padding-left:34px;
	font-weight:bold;
}
.logo_left{
    cursor: default;
}


.logo_left h2{
    text-transform: uppercase;
    color:#0099dc;
    margin-top:25px;
    padding:20px 0 26px 8px;
    font-size:16px;
    text-align: left;
    margin-left: -50px;
}

.logo_right h1{
    font-family:"Open Sans", Arial, sens-serif;
    color:#0099dc;
    font-size:20px;
    margin-bottom:40px;
    margin-top: 15px;
}
/* ���� obchestvo �����*/

/* ���� srochno ������*/

.srochno {

    background: #f0f0f0; /* Old browsers */
    border-top:3px solid #00a0e3;
}

.in_srochno{
    max-width:1600px;
    margin:0 auto;
    padding:10px 0;
}

.in_srochno ul{
    overflow: hidden;


}
.in_srochno ul li {
    float: left;
    font-size: 12px;
    width:18%;
    margin-left:1%;
}



.in_srochno ul li a {
    font-size:12px;
    text-decoration:none;
    display:block;
    font-family: "Open SansRegular", Arial, sens-serif;
    color:#254a75;
    font-weight: 600;
    padding: 16px 0px 10px 55px;



}

.in_srochno ul :first-child a{
    background: url('../img/srochno1.png') no-repeat left top;
}

.in_srochno ul :nth-child(2) a{
    background: url('../img/srochno2.png') no-repeat left top;
}

.in_srochno ul :nth-child(3) a{
     background: url('../img/srochno3.png') no-repeat left top;
 }

.in_srochno ul :nth-child(4) a{
    background: url('../img/srochno4.png') no-repeat left top;
}

.in_srochno ul :last-child a{
    background: url('../img/srochno5.png') no-repeat left top;
}

.in_srochno ul :nth-child(3) a, .srochno ul :nth-child(5) a {
    padding-top: 10px !important;
}

/* ���� srochno �����*/

/* ���� main-content ������*/

.main-content{
    overflow: hidden;
    max-width:1610px;
    margin:0 auto;
}

.main-content-left {
    width:75%;
    float:left;
}

.main-content-right{
    float:right;
    width:25%;
    background: background: #fdfaf8; /* Old browsers */
    background: -moz-linear-gradient(left, #fdfaf8 0%, #fdfaf8 46%, #d8d6d0 84%, #ccd0d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fdfaf8 0%,#fdfaf8 46%,#d8d6d0 84%,#ccd0d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fdfaf8 0%,#fdfaf8 46%,#d8d6d0 84%,#ccd0d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfaf8', endColorstr='#ccd0d1',GradientType=1 ); /* IE6-9 */
}

.avtor img{
    padding: 0 10px 10px 2px;
    float:left;
    margin-right:10px;
    display:block;
	
}

.avtor p{
    font-size: 16px;
    line-height: 17px;
    text-align:justify;
    padding-right:7px;
    font-family: "Open SansRegular", Arial, sens-serif;
    letter-spacing: 0.7px;
    color:#254a75;
    padding-right:8px;
}
.avtor {

    margin-top:24px;
}

.main-content-right h2{
    margin:20px 0 20px 0;
    text-transform: uppercase;
    color:#00a4d1;
    text-align: center;
}

.main-content h2 {
    text-transform: uppercase;
    color:#00a4d1;
}


.in_main-content-left{
    width:90%;
    margin:0 auto;
    padding:22px 0 50px 0;
}

.in_main-content-left h2{
    text-align:center;
    margin-bottom: 20px;

}

.in_main-content-left p.dashed,.in_main-content-left div.dashed{
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color:#009fe2;
    padding:5px 0px;
    width:85%;
    margin:0 auto;
    text-align: center;
    border:1px dashed #e3dcd5;
    position: relative;
    margin-bottom:14px;
}

.doctor{
    position: absolute;
    top:-8px;
    left:-25px;
}

.doctor2{
    position: absolute;
    top:-8px;
    left:-22px;
}

.price {
    margin:15px auto 15px auto;
    display:block;
    width:159px;

}

.p_mrt  {
    width:60% !important;
}

p.solid {
    font-size:15px;

}

.left-center {
    width:70%;
    margin:15px auto 15px auto;
    padding-left:20px;
}

.left-center p{
    width:60%;
    border-bottom:1px solid #59c0f0;
    padding:0 0;
    display:inline-block;
    height:26px;
    line-height:28px;
    text-align:left;
}

.left-center span {
    display:inline-block;
    padding:0 4px;
    font-family: "Open SansRegular", Arial, sens-serif;
}

.grey_border{
    border:1px solid #c0bbb7;
    border-radius: 0 5px 5px 0;
    display:inline-block;
    font-size:16px;
    color:#00a2e3;
    padding:0 16px !important;
    background: url(../img/line-trough.png) no-repeat center;
    margin-left:-5px;
    height:26px;
    line-height:28px;
}

.blue_border {
    font-size:16px;
    line-height:26px;
    color:#df0027;
    padding:0 12px !important;
    height:26px;
    border:1px solid #009fe2;
    border-radius: 15px 0 0 5px;
    text-align:center;
    margin-left:-6px;
}

.all_price{
    font-weight: 500 !important;
    padding:8px;
    border:1px solid #ccc;
    text-transform:uppercase;
    width:122px;
    margin:30px auto;
    font-size:14px;
}

.nav-submenu2,.nav-submenu{
    display:none;
}


/* TIMER BLOCK ������*/

.main_time_akciy{
    margin-bottom:30px;
}

.time_akciy{
    min-width:700px;
    margin:0 auto;
    text-align:center;
}
#akcii_other_cont {
    width:315px;
    display:inline-block;
}
.time_akciy h2{
    color:#e12b25;
}
.time_akciy p{
    font-family: "Open SansRegular", Arial, sens-serif;
    font-size:14px;
    color:#30a4de;
    line-height:24px;
    padding-top:8px;
    border-bottom:1px solid #a6a09a;
}

.time_akciy p.dashed{
    padding-top:3px !important;
    line-height: 14px !important;
    text-align:left;
    width:60% !important;
    margin:15px auto 0 auto;
    color:#244c75 !important;
}

.time_akciy p span{
    color:#e12b25;
    font-weight:600;
}
.skidka_time_akciy img{
    float:left;
    display: block;
}

.skidka_time_akciy {

    margin-bottom:25px;

}


.skidka_time_akciy p{
    font-family: "Open SansRegular", Arial, sens-serif;
    font-size:17px;
    color:#fff;
    width:200px;
    padding-left:40px !important;
    line-height: 28px;
    background: #d2cec9;
    font-weight:100 !important;

}

.timer{
    width:235px;
    margin:0 auto 15px auto;

}

.timer h4{
    color:#6b6761;
    font-family: "Open SansRegular", Arial, sens-serif;
    font-size: 15px;
    text-align: center;
    margin-bottom:5px;
}

/* TIMER BLOCK �����*/
p.dashed.dashed2 {
    width:40% !important;
}

div.main_uzi{
    padding:50px 0 30px 0;
    margin-bottom:60px;
}

p.uzi_text{
	font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color:#009fe2;
	padding-right:250px;
}

p.uzi {
    
    margin-right:240px;
    float:left;
    border-bottom:3px solid #009fe2;
    padding-bottom:10px;
	position:relative;
	z-index:10;
	width:90%;
}

.p_uzi{
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    width:198px;
    height:82px;
    /*width:136px;
	height:52px;*/
    float:right;
    background: url(../img/uzi.png) no-repeat right center;
    background-size:100%;
    margin-top:-50px;
    margin-left:-10px;
    color:#fff;
	position:relative;
	z-index:100;
	padding-top:40px;
	padding-left:155px;
}

.lines{
    width:70%;
    padding: 30px;
    background: url(../img/lines.png) no-repeat top center;
    margin:20px auto 30px auto;
    backgroun-size:60%;
}

.lines :first-child {
    width:30%;

}

.lines :last-child{
    width:30%;
}

.lines :nth-child(2){
    width:40%;
}

.lines p{
    font-size: 15px;
    color:#254a75;
    float:left;
    text-align:center;
}

.main_tesla{
    margin-bottom:6%;
}

.tesla img{
    float:left;
    padding: 0 30px 30px 0;

}

.img_tesla {
    
}

.tesla h3{
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color:#009fe2;
    text-align:center;
    padding: 0 10px 10px 10px;
}



.tesla ol{
    list-style: number !important;
    color:#254a75;
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    margin-bottom:20px;
}

.tesla ol li{
    line-height:16px;
}

.dashed3{
    margin-left:35% !important;
    width:65% !important;
}

.tesla2{
    overflow: hidden;
	
}

.tesla2 .tesla_img1 {
    float:left;
	display:block;
}

.tesla2 .tesla_img2 {
	display:block;
    float:right;
}

.tesla_right,.tesla_left {
	
	width:50%;
	float:left;
	position:relative;
	
	
}
.tesla_right{
	z-index:10;
}


.tesla_left{
	z-index:100;
}

.tesla035,.tesla15{
    font-size: 14px;
    color:#254a75;
    border:1px dashed #e2dcd5;
    text-align:center;
    padding:10px 5px;
    line-height: 14px;
    margin:0 5px 0 5px;

}

.tesla15{
	float:right;
	width:280px;
	margin-right:-60px !important;
	position:relative;
	z-index:100;
	}

.tesla035{
	margin-top:60px;
	width:290px;
	position:relative;
	z-index:10;
	margin-left:-60px;
}





.kt{
    width: 70% !important;
    background-size:60% !important;
    background: url(../img/kt.png) no-repeat top center;
}

.kt .doctor2{
    width:24px;
}

.kt .dashed3{
    width:30% !important;
    float:right;
    margin-top:-20px !important;
}

.kt :nth-child(2){
    padding:1% !important;
}

.aparat_kt img{
    float: left;
    max-width: 30%;
    display: block;
    margin-top:-8%;
}

.aparat_kt {
    margin-bottom: 40px;
}

.aparat_kt p {
    font-size: 15px;
    color: #254a75;
    border: 1px dashed #e2dcd5;
    text-align: center;
    padding: 10px 5px;
    line-height: 16px;

    width:60%;
    margin: 3% 5px 0 35%;
}

.smaller {
    text-transform: none !important;
    font-size:18px;
}

.raznica {
    text-align: center;

}

.raznica :last-child{

}




.raznica .dashed_bottom{
    width:55% !important;
    margin:60px auto 0 auto !important;
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color: #009fe2;
    padding: 3px 0 2px 15px !important;
    text-align: left;
    border-bottom: 1px dashed #e3dcd5;
    position: relative;

}

.raznica .raznica_dashed2{
    width:62% !important;

    margin-top:20px !important;
}

.raznica .parent_more {
    position: relative;

}

.raznica .more2_parent{
    position: relative;
    z-index:10;
}

.raznica .more{
    display:inline-block;
    width:130px;

}

.raznica .drop {
	position:absolute;
}

.raznica .more2{
    position:absolute;
    left:30% !important;
    top:160px;
    z-index:100;
}

.raznica .more li,.raznica .more2 li{
    border:1px solid #c4bfba;
    border-radius: 2px;
    background: #f4f2f0;
    position: relative;
    z-index: 10;
}
.raznica .more a,.raznica .more2 a{
    font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color: #254a75;
    text-decoration: none;
    display:block;
    padding:5px 20px;
    position: relative;
    z-index: 10;
}

.raznica .more a.pointer:hover,.raznica .more2 a.pointer:hover{
    cursor:pointer;

}

a.pointer:hover{
    cursor:pointer;

}



.delete{
    float:right;
    padding-right:12px;
    display:block;
    margin-top: -3px;
    color:#fff;

}



#map_adres3 .delete,#map_adres4 .delete{
    padding-right:32px;
    margin-top: -3px;
}

#map_adres5 .delete{
    padding-right:2px;
    margin-top: -3px;
}
.more :first-child,.more2 :first-child{
    position: relative;
    z-index: 100;
}


.more :first-child a,.more2 :first-child a{
    font-size: 15px;
    color:#e12923;
    text-transform:uppercase;
    background: url("../img/more.png") no-repeat right 5px;
    position: relative;
    z-index: 100;
}


.raznica .doctor2{
    top: -38px;
}

.raznica .dashed{
    margin-top:20px !important;
    width:75% !important;
}

.raznica p.raznica_last_dashed{
    margin-top:30px !important;
}

.raions .dashed{
	max-width:20% !important;
}

.vopros {
	margin-top:80px;
}

.profesor{
	overflow:hidden;
	width:70%;
	margin:0 auto;
}

.profesor img{
	float:left;
}

.profesor p{
	font-size: 11px;
    font-family: "Open SansRegular", Arial, sens-serif;

	text-align:center;
	margin-left:129px;
	color:#254a75;
	line-height:12px;
	padding-top:9%;
}

.profesor p a{
	text-decoration:none;
	font-size:14px;
	color:#009fe2;
}

.otvets {
	margin-bottom:-30px;
	margin-top:30px;
	overflow:hidden;
}

.activen{
    display:block;
}
.profesor{
    position:relative;
    z-index:10;
    padding-bottom:70px;
    padding-right:50px;
}

#read_more_child{
    display:none;
    background: #fff;
    position:absolute;
    width:45% !important;
    left:120px;
    margin:0;
    z-index:120;
    text-align:justify;
}

#more_child1 ,#more_child3{
    display:none;
    position: absolute;
    z-index: 1000;
    background: #fff;
}

#more_child1 {
    text-align:left;
    margin-top:0 !important;
}

#more_child2{
    display:none;
    position: absolute;
    z-index: 1000;
    background: #fff;
    text-align:left;
    margin-top:0 !important;
}

.otvets .dashed{
	max-width:40% !important;
}

.otvets ul li {
	font-size: 15px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color: #009fe2;
	padding:5px 10px 26px 0px;
	position:relative;
	z-index:10;
	line-height:16px;
}



.otvets ul li.otvets_left1 {
	background: url(../img/otvets_list1.png) no-repeat left top;
	z-index:100;
}

.otvets ul li.otvets_left2 {
	background: url(../img/otvets_list2.png) no-repeat left top;
	margin-top:-16px;
	z-index:90;
}

.main_otvets_right ul li.otvets_left1{
    background: url(../img/otvets_list5.png) no-repeat left top;
}

.main_otvets_right ul li.otvets_left2{
    background: url(../img/otvets_list6.png) no-repeat left top;
}

.main_otvets_right ul li.otvets_left3{
    background: url(../img/otvets_list7.png) no-repeat left top !important;
}

.main_otvets_right ul li.otvets_left4{
    background: url(../img/otvets_list8.png) no-repeat left top !important;
}
/**
 * Block_category_labels
 */
.blocks_label {
	width:200px;
	height:26px;
	background:#d2cec9;
	margin:20px auto;
}
.blocks_label .label_img{
	background:url(../img/tray.png) no-repeat;
	width:35px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
}
.blocks_label .label_text{
	display:inline-block;
	vertical-align:middle;
	font-size:17px;
	text-align:center;
	color:white;
	width:100%;
	max-width:150px;
}
/**
 * More than 20 question are present. Did not want to draw a picture every time.
 */
 
.otvets ul li.otvets_left {
	min-height:50px;
	padding-left:120px;
	padding-top:3px;
}

.otvets ul li div.otvet_text {
	display:inline-block;
	vertical-align:top;
}
.otvets ul li div.otvet_text ul{
	list-style-type:circle;
}
.otvets ul li div.otvet_text ul,.otvets ul li div.otvet_text ol{
	margin-bottom:7px;
}
.otvets ul li div.otvet_text li{
	margin-left:15px;
	padding-bottom:2px;
}

.otvets ul li.otvets_left .digits{
	width:112px;
	padding:0;
	margin:0;
	margin-top:17px;

	text-align:center;
	font-size:25px;
	display:inline-block;
	vertical-align:top;
	position:absolute;
	top:0;
	left:0;
}
.otvets ul li.otvets_left:nth-child(2n) {
	background: url(../img/otvet_grey.png) no-repeat left top;
}
.otvets ul li.otvets_left:nth-child(2n+1) {
	background: url(../img/otvet_blue.png) no-repeat left top;
}
.otvets ul li.otvets_left:nth-child(2n) .digits {
	color:#009fe2;
}
.otvets ul li.otvets_left:nth-child(2n+1) .digits {
	color:#e5e3e0;
}

.main_otvets_left,.main_otvets_right{
	width:100%;
	float:left !important;
}

.otvets ul li.otvets_left3 {
	background: url(../img/otvets_list3.png) no-repeat left top;
	z-index:80;
	margin-top:-20px;
}

.otvets ul li.otvets_left4 {
	background: url(../img/otvets_list4.png) no-repeat left top;
	margin-top:-18px;
}

.otvets_left a,.otvets_left1 a,.otvets_left2 a,.otvets_left3 a,.otvets_left4 a {
	text-decoration:none;
	color:#e12923;
}

/* ����� ������*/

.main_map{

    width:100%;
    background: url("../img/main_map.jpg") no-repeat center;
    background-size: 100%;
    margin-top:30px;
}

.in_main_map{
    width:312px;
    height:454px;
    margin:0 auto;
}

#kartina{
    display: block;
    position:relative;
    /*background: url("../img/smal_map3.png") no-repeat center;*/
    background: url("../img/map_small2.png") no-repeat center;
    width:355px;
    height:454px;

}

/**
 * Changed: optimized the map
 */
#ramsey {
	top:-75px;
	left:-16px;
}
#mart {
	top:-46px;
	left:-90px;
}
#ami {
	top:-60px;
	left:-70px;
}
#expert {
	top:-170px;
	left:20px;
}
#energo_eng {
	top:-140px;
	left:20px;
}
#energo_len {
	top:110px;
	left:-70px;
}
#medem {
	top:-10px;
	left:00px;
}
#polenova {
	top:-30px;
	left:10px;
}
#cmrt {
	top:-90px;
	left:-20px;
}
#kup {
	top:130px;
	left:-10px;
}
#magnet {
	top:20px;
	left:-80px;
}
#standard{
	top:-3px;
	left:70px;
}
#north-west{
	top:50px;
	left:-10px;
}
#ndc_bor{
	top:40px;
    left:-20px;
}
#ndc_isp{
	top:-150px;
    left:-85px;
}
#ndc_ent{
	top:-20px;
    left:90px;
}
#prior{
	top:-140px;
    left:60px;
}
.map_clinic_block {
	position:absolute;
}
.map_clinic_block .map_clinic_marker {
	width:30px;
	height:38px;
	background:blue;
	background:url(../img/marker.png) no-repeat;
	position:absolute;
	left:190px;
	top:193px;
}

.map_clinic_block .map_clinic_marker:hover {
    z-index:1000;
}

.map_clinic_block .map_clinic_description{
	background: url("../img/map_adres5.png") no-repeat top;
	padding-left:11px;
	width:235px;
    height:194px;
	position:absolute;
	z-index:1;
}
.map_clinic_block .map_clinic_description .delete {
	
}

#map_adres1{
    position: absolute;
    top:-5px;
    left:30px;
    width:246px;
    height:194px;
    background: url("../img/map_adres5.png") no-repeat top;
    display:none;
}

#map_adres2 {
    position: absolute;
    top:5px;
    left:65px;
    width:246px;
    height:194px;
    background: url("../img/map_adres6.png") no-repeat top;
    display:none;
}
#map_adres2 :last-child{
    padding-top:2px !important;
}
#map_adres2 :nth-child(2){
    text-align: center;
    padding-left:14px !important;
}

#map_adres3{
    position: absolute;
    top:-55px;
    left:50px;
    width:246px;
    height:194px;
    background: url("../img/map_adres2.png") no-repeat top;
    display:none;
}

#map_adres4{
    position: absolute;
    top:125px;
    left:35px;
    width:246px;
    height:194px;
    background: url("../img/map_adres2.png") no-repeat top;
    display:none;
}

#map_adres5{
    position: absolute;
    top:160px;
    left:60px;
    width:246px;
    height:194px;
    background: url("../img/map_adres.png") no-repeat top;
    display:none;
}

#map_adres6{
    position: absolute;
    top:185px;
    left:20px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres7{
    position: absolute;
    top: -125px;
    left: 86px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres8{
    position: absolute;
    top:75px;
    left:65px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres9{
    position: absolute;
    top:40px;
    left:30px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres10{
    position: absolute;
    top:-20px;
    left:-20px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}
#map_adres10_2{
    position: absolute;
    top:-10px;
    left:-10px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}
#map_adres11{
    position: absolute;
    top:-45px;
    left:45px;
    width:246px;
    height:194px;
    background: url("../img/map_adres4.png") no-repeat top;
    display:none;
}

.in_main_map p{
    font-size: 10px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color: #009fe2;
    
    text-align:left;
    padding-left:15px;
    padding-top:12px;
}

#map_adres6 p,#map_adres5 p,#map_adres2 p,#map_adres7 p,#map_adres8 p,#map_adres9 p,#map_adres10 p, #map_adres10_2 p,#map_adres11 p{
    padding-left:26px;
}

#map_adres1 p{
    padding-left:25px;
}

#map_adres6 :nth-child(2),#map_adres6 :nth-child(4),#map_adres1 :nth-child(2),#map_adres1 :nth-child(4),
#map_adres2 :nth-child(2),#map_adres2 :nth-child(4),#map_adres3 :nth-child(2),#map_adres3 :nth-child(4),
#map_adres4 :nth-child(2),#map_adres4 :nth-child(4),#map_adres5 :nth-child(2),#map_adres5 :nth-child(4),
#map_adres7 :nth-child(2),#map_adres7 :nth-child(4),
#map_adres9 :nth-child(2),#map_adres9 :nth-child(4),#map_adres10 :nth-child(2),#map_adres10 :nth-child(4)
#map_adres11 :nth-child(2),#map_adres11 :nth-child(4),#map_adres7 :nth-child(2),#map_adres7 :nth-child(4),
#map_adres8 :nth-child(2),#map_adres8 :nth-child(4),#map_adres9 :nth-child(2),#map_adres9 :nth-child(4),
#map_adres10 :nth-child(2),#map_adres10 :nth-child(4),#map_adres11 :nth-child(2),#map_adres11 :nth-child(4),
 .map_adres_class :nth-child(2), .map_adres_class :nth-child(4),.map_clinic_description :nth-child(2), .map_clinic_description :nth-child(4)
{
    color:#fff ;
}

#map_adres6 :last-child,#map_adres6 :nth-child(3),#map_adres1 :last-child,#map_adres1 :nth-child(3),
#map_adres2 :last-child,#map_adres2 :nth-child(3),#map_adres3 :last-child,#map_adres3 :nth-child(3),
#map_adres4 :last-child,#map_adres4 :nth-child(3),#map_adres5 :last-child,#map_adres5 :nth-child(3)
#map_adres7 :last-child,#map_adres7 :nth-child(3),#map_adres8 :last-child,#map_adres8 :nth-child(3)
#map_adres9 :last-child,#map_adres9 :nth-child(3),#map_adres10 :last-child,#map_adres10 :nth-child(3)
#map_adres11 :last-child,#map_adres11 :nth-child(3),#map_adres7 :last-child,#map_adres7 :nth-child(3)
.map_adres_class :last-child,.map_adres_class :nth-child(3),
.map_clinic_description :last-child,.map_clinic_description :nth-child(3)
{
    color:#009fe2 ;
}

 span.delete a{
    color:#fff !important;
    text-decoration:none;
    cursor:pointer;
}
/*����� �����*/



/* �������������� �����*/
.show_more{
    width:100%;

}

.show_more ul li{
    padding:0 !important;
    margin-top:2px !important;
}
/* �������������� �����*/
.main_form .dashed{
	max-width:45% !important;
}


.form {
	position:relative;
	text-align:center;
	max-width:543px;
	height:160px;
	margin:0 auto;
	background:url(../img/form_bg.png)no-repeat center center;
	padding-top:30px;
	overlow:hidden;
	color:#fff;
    background-size:100% ;
}

input::-webkit-input-placeholder { color: #fff; }
input:-moz-placeholder { color: #fff; }

.form input{
	width:400px;
	height:30px;
	margin-top:10px;
	margin-left:60px;
	border-radius:5px ;
	border:none;
	background:#009fe2;
	color:#fff;
	padding:10px 0 0 10px;
}

.form button{
	border:none;
	margin-top:5px;
	float:right;
	margin-right:15px;
}

.form_fio {
	position:absolute;
	left:15px;
	top:40px;
}


.form_mobile {
	
	position:absolute;
	left:40px;
	top:90px;
}

.form span{
    font-size:14px !important;
    color:red;
    display:block;
    padding-left:10px;
    text-align:center;
    width:50%;
    float:left;
    padding-top:14px;
    margin-left:10px;
}

/* ���� main-content �����*/

@media screen and (max-width: 1600px){
    .box-modal{
        padding:16px !important;
    }
    .form span{
        font-size:9px !important;
    }
    .elastislide-carousel ul li a span{

        font-size: 9px !important;

    }
    .elastislide-carousel ul li a {

        font-size: 11px !important;
    }

    .elastislide-horizontal {
        padding: 10px 10px;
    }


    .p_uzi{
        font-size: 11px;
        font-family: "Open SansRegular", Arial, sens-serif;

        width:136px;
        height:52px;
        float:right;
        background: url(../img/uzi.png) no-repeat right center;
        background-size:100%;
        margin-top:-50px;
        margin-left:-10px;
        color:#fff;
        position:relative;
        z-index:100;
        padding-top:30px;
        padding-left:110px;
    }
    p.uzi_text{
        font-size:11px;
    }



    .form input{
        width:230px;
        height:30px;
        margin-top:10px;
        margin-left:60px;
        border-radius:5px ;
        border:none;
        background:#009fe2;
        color:#fff;
        padding:10px 0 0 10px;
    }

    .form {
        position:relative;
        text-align:center;
        max-width:343px;
        height:160px;
        margin:0 auto;
        background:url(../img/form_bg.png)no-repeat center center;
        padding-top:30px;
        overlow:hidden;
        color:#fff;
        background-size:100% ;
    }


    .menu li a{
        font-size:16px;
    }
    .number :nth-child(3) {
        font-size:11px;

    }
    .timer h4{
        font-size:11px;
    }
    .otvets ul li {
        font-size: 11px;
        line-height:12px;
    }
    .avtor p{
        font-size:11px;
        line-height: 14px;
    }
    .aparat_kt p {
        font-size: 11px;
        line-height: 12px;
    }

    .raznica .dashed_bottom{
        font-size: 11px;
    }

    .raznica .more a, .raznica .more2 a{
        font-size:11px;
    }
    .tesla ol{

        font-size: 11px;

    }

    .tesla035,.tesla15{
        font-size: 10px;
        line-height: 12px;
    }

    .tesla ol li{
        line-height:12px;
    }
    .lines p{
        font-size: 11px;

    }
    .tesla h3{
        font-size:11px;
    }
    .main-content{
        overflow: hidden;
        max-width:1010px;
        margin:0 auto;
    }

    .grey_border{

        font-size:11px;

    }

    .blue_border {
        font-size:11px;

    }

    p.solid {
        font-size:11px;

    }

    .in_main-content-left p.dashed,.in_main-content-left div.dashed{
        font-size: 11px;

    }

    .obchestvo {

        max-width:1010px;

    }

    .in_srochno{
        max-width:1010px;

    }

    .logo_left h2{

        text-align: center;
        margin-left:-80px !important;
    }

    .timer{
        width:205px;
        margin:0 auto 15px auto;

    }

    .tesla15{

        width:180px;

    }

    .tesla035{

        width:190px;

    }

    .raznica .more{

        left:45%;

    }
    .raznica .more2{
        position:absolute;
        left:30% !important;
        top:130px;
        z-index:100;
    }

}

@media screen and (max-width:1000px){

.tesla_right,.tesla_left{
	width:100%;
	float:none;
}

.tesla_right img{
	float:right !important;
	max-width:30% !important;
}

.tesla_left img{
	float:left !important;
	max-width:30% !important;
}
.tesla_right, .tesla_left{
	width:100%;
	overflow:hidden;
}

.tesla15{
	float:left;
	width:180px;
	margin-right:0px !important;
	position:relative;
	z-index:100;
	
	}

.tesla035{
float:right;
	margin-top:0px;
	width:190px;
	position:relative;
	z-index:10;
	margin-left:0px;
}
}

@media screen and (max-width: 900px){

    .otvets ul li{
        padding-top:15px;
    }

    .obchestvo {

        padding-top:0 !important;
    }
    .menu ul{
        display:none;
    }

    #read_more_child{
        width:65%;
    }
    .menu ul li{
        width:100%;
		border-bottom:3px solid #fff;
		background:none;
    }
	
	.menu_footer{
		display:none;
	}
	
	footer{
		height:150px !important;
	}
	
	
	.menu ul li a{
		text-align:center;
	}
	
	.menu ul li a:hover{
		background:none;
	}
    .menu a#pull{
        display:block;
        font-size:14px;
        font-weight:bold;
        color:#333;
        text-decoration:none;
        padding:20px 3%;
        width:94%;
        position:relative;
    }
    .menu a#pull:after{
        content:"";
        background:url(../img/icon-menu.png) no-repeat;
        width:12px;
        height:13px;
        display:inline-block;
        position:absolute;
        top:12px;
        right:3%;
    }
	
	.zapis {
		display:none;
	}

    .zapis_modal a{
        width:230px !important;
        margin:0 auto;
    }
	
	.menu ul li.zapis_mobile{
		display:block;
		border-bottom:none !important;
		margin-top:22px;
	}
	.zapis_mobile_div{
		width:182px;
		height:41px;
		margin:0 auto;
		
		background: url(../img/zapis.png) no-repeat !important;
	}
	
	.main-content-right {
		display:none;
	}
	
	.main-content-left {
		width:98%;
		margin:0 auto;
		padding:0 1% 0 1%;
	}
	
	.map img{
		max-width:100%;
	}
	
	.logo_left {
		width:100%;
		text-align:center;
	}
	
	.logo_right {
		width:100%;
		position:relative;
		padding-bottom:40px;
	}
	
	
	.zagolovok {
		position:absolute;
		bottom:0;
		text-align:center;
		width:100%;
	}
	
	.akciy {
		background-size:100%;
		width:280px;
    
	}
	
	.phone{
		padding:0;
        cursor: default;
	}
	
	.number{
		margin:0 auto;
	}
	
	.logo_left h2{
		margin-left:0;
	}
	.left-center{
		width:100%;
	}
	
	.img_tesla {
    float:none !important;
	display:block;
	padding:0 0 10px 0 !important;
	max-width:60% !important;
	margin:0 auto;

}

.in_main-content-left p.dashed{
	width:100% !important;
	
}

.time_akciy p.dashed{
    width:60% !important;
    font-size:12px !important;

}
.otvets .dashed {
	max-width:70% !important;
	margin:0 auto 20px auto !important;
}

    header{
        width:100%;
        position:relative;
        z-index:1000;
    }

}
@media screen and (max-width: 900px){
    .raznica .dashed_bottom,.raznica .dashed {
        width:100% !important;
        text-align: left !important;;
    }
	
	.kt .dashed3 {
        display: none;
    }

    .m-dotted {
        float: none !important;
        padding: 10px 0 0 0 !important;
        margin: 0 auto;
        margin-bottom: -3px;
    }

    .menu li a {

        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px 8px 20px;

    }

    .raznica .dashed {
        padding-left:15px !important;
        margin-top:110px !important;
    }

    .raznica .more2{
        left:10% !important;
        top: 130px !important;
    }

    #more_child3{
        position: absolute !important;
        top:-50px;
    }
    #more_child2{
        position: absolute !important;
        top:1px;
    }
    #more_child1{
        position: absolute !important;
        top:1px;
    }

    .raznica p.raznica_last_dashed{
        margin-top:130px !important;
    }
}


@media screen and (max-width: 930px) and (min-width: 700px){
    .logo_right {
        width: 60% !important;

    margin: 0 auto !important;
}
.logo_right {
    float:none !important;
}
}

@media screen and (max-width: 930px){
	
	.main_otvets_left,.main_otvets_right{
	width:70% !important;
	float:none !important;
	margin:0 auto;
	
}
.dashed3{
	
	margin-left:45% !important;
	width:50% !important;
}



}
@media screen and (max-width: 780px){
	
	.dashed3{
	
	margin-left:0 !important;
}
}

@media screen and (max-width: 810px){


.aparat_kt img{
	
	margin-top:1% !important;

}
.aparat_kt{
	margin-top:10% !important;
	margin-bottom:5% !important;

}
}



@media screen and (max-width: 800px) {

    .otvets ul li{
        padding-top:0;
    }

    

    .main_otvets_left, .main_otvets_right {
        width: 50% !important;
        float: none !important;
        margin: 0 auto;

    }

    .menu li a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 8px 20px 8px 20px;

    }

    .m-dotted {
        float:none !important;
        padding:10px 0 0 0 !important;
        margin: 0 auto;
        margin-bottom: -3px;
    }
}
@media screen and (max-width: 740px){


.main_otvets_left,.main_otvets_right{
	width:60% !important;
	float:none !important;
	margin:0 auto;

}
    .raznica .more{
        left:50% !important;
    }

}

@media screen and (max-width: 710px) {

    .raznica .more2 {
        left: 10% !important;
        top: 150px !important;
    }
}
@media screen and (max-width: 630px){


.main_otvets_left,.main_otvets_right{
	width:70% !important;
	float:none !important;
	margin:0 auto;

}

    .box-modal {

        width: 315px;

    }

.main_otvets_left,.main_otvets_right{
	width:80% !important;
	float:none !important;
	margin:0 auto;

}
}
@media screen and (max-width: 480px){


.main_otvets_left,.main_otvets_right{
	width:70% !important;
	float:none !important;
	margin:0 auto;

}

.main_otvets_left,.main_otvets_right{
	width:90% !important;
	float:none !important;
	margin:0 auto;

}

.profesor p{
	margin-left: 100px;
	text-align:justify;
}

}

@media screen and (max-width: 490px){
	.elastislide-horizontal {
	padding: 10px 90px !important;
}

    p.uzi_text{

        padding-right:20px;
        padding-bottom:30px;
    }
}

@media screen and (max-width: 1000px){
	.elastislide-horizontal {
	padding: 10px 60px !important;
	width:490px;
}
}

@media screen and (max-width: 680px){
	.elastislide-horizontal {
	padding: 10px 60px !important;
	width:330px;
}

    .kt{
        width:90% !important;
    }

     p.lines_kt_smal{
        width:20% !important;
    }
}

@media screen and (max-width: 530px){
	.elastislide-horizontal {
	padding: 10px 60px !important;
	width:160px;
}
}


@media screen and (max-width: 490px){
	.elastislide-horizontal {
	padding: 10px 30px !important;
}

}

@media screen and (max-width: 420px){


.main_otvets_left,.main_otvets_right{
	width:70% !important;
	float:none !important;
	margin:0 auto;

}
    .elastislide-carousel ul li a img {

        max-width: 93%;}

    .elastislide-carousel ul li {

        max-width:108px !important;}

.main_otvets_left,.main_otvets_right{
	width:100% !important;
	float:none !important;
	margin:0 auto;

}

.elastislide-horizontal {
	padding: 10px 25px !important;
}

    .in_main_map{
        width:305px;
        margin:0 auto 0 -22px;
    }
    .slugba {
        float:none;
       width:130px;
        display: block;
        margin: 0 auto;
    }

    .akciy{
        margin:0 auto 20px auto;
    }

    #read_more_child{
        width:85% !important;
        left:20px !important;
    }

    p.uzi_text{

        padding-bottom:40px;
    }

    .raznica .more2{
        left:-5% !important;
        top: 190px !important;
    }
    .raznica p.raznica_last_dashed{
        margin-top:140px !important;
    }

    .profesor{
        overflow:hidden;
        width:90%;
        margin:0 auto;
    }

    .arcticmodal-container_i2 {
        padding: 4px !important;

    }


}

@media screen and (max-width: 370px){
    .box-modal {

        /*width: 500px;*/
        padding: 18px 0 2px 0;
    }

    .form_fio {

        left: 15px;
        top: 40px;
    }

    .form input {
        width: 180px;

        margin-top: 10px;
        margin-left: 70px;

    }
}
