/* font-family: 'PT Sans'; */
@font-face {
	font-family: 'PT Sans';
	src:local('PTSans'),
	url("../fonts_thirdDesign/PTSans/PTSans.eot"),
	url("../fonts_newDesign/PTSans/PTSans.eot?#iefix")format("embedded-opentype"),
	url("../fonts_newDesign/PTSans/PTSans.woff") format("woff"),
	url("../fonts_newDesign/PTSans/PTSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PT Sans bold"; */
@font-face {
	font-family: "PT Sans bold";
	src:local('PT Sans bold'),
	url("../fonts_thirdDesign/PTSans/PTSans_bold.eot"),
	url("../fonts_newDesign/PTSans/PTSans_bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts_newDesign/PTSans/PTSans_bold.woff") format("woff"),
	url("../fonts_newDesign/PTSans/PTSans_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
