/* font-family: "PTSans"; */
@font-face {
	font-family: "PTSans";
	src: url("../fonts_thirdDesign/PTSans/PTSans.eot");
	src: url("../fonts_thirdDesign/PTSans/PTSans.eot?#iefix")format("embedded-opentype"),
	url("../fonts_thirdDesign/PTSans/PTSans.woff") format("woff"),
	url("../fonts_thirdDesign/PTSans/PTSans.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PTSansBold"; */
@font-face {
	font-family: "PTSans_bold";
	src: url("../fonts_thirdDesign/PTSans/PTSans_bold.eot");
	src: url("../fonts_thirdDesign/PTSans/PTSans_bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts_thirdDesign/PTSans/PTSans_bold.woff") format("woff"),
	url("../fonts_thirdDesign/PTSans/PTSans_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
