*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "PTSans", sans-serif;
	font-size: 16px;
}

a{
	color:#298cb7;
}

a:hover{
	color:#00a8f1;
}
p{
	margin:20px 0;
}
/*
HEADER
*/

.top_header{
    padding-top: 84px;
}
.header_topline {
    background: #2eb1e8;
    padding: 4px 0;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 84px;
    line-height: 1.3;
}
.logo{	
	padding:0;
}
.logo-text{
	font-size: 17px;
    text-transform: uppercase;
    font-family: "PTSans_bold", arial, sans-serif;
    text-align: center;
    padding: 0;
    padding-left: 5px;
    margin-top: 5px;
}
.logo-text a{
	color:#fff;
}
#logo-outer{
	padding:0;
}
a.order {
	color: #7bffe8;
    font-size: 15px;
    font-weight: normal;
	display:block;
    margin: 5px 0;
}
a.order span{
    border-bottom: 1px dashed #7bffe8;
}
.top_contacts {
	line-height: 1;
    font-weight: bold;
	color:#003675;
	position: relative;
	text-align:center;
	padding:0;
}
.top_contacts  div{
	font-size:30px;
}
.top_contacts span.perezvonim{
    font-size: 14px;
    font-weight: normal;
    bottom: 0;
    color: #003675;
    background: #c0d0e2;
    padding: 1px 3px;
    margin-top: 14px;
}

#callback-on-fix-menu{
	display:none;
}
#callback-on-fix-menu a#order-button{
	margin:2px 0 0 0;
	padding:3px;
}

/*
TOP MENY
*/

.main_menu {
    color: #fff;
    margin-top: 17px;
}
.main_menu a {
    color: #fff;
    padding: 10px 6px;
    display: table-cell;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    font-family: "PTSans_bold";
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    text-shadow: 0px 1px 1px #676767;
}
.main_menu a:hover {
	background-color: #2787af;
}
.main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
}

.main_menu ul li {
	display: inline-block;
}
.main_menu ul {
	z-index: 12;
}



/*
OVER SLIDER
*/

.over-slider-container{
    position: absolute;
    top: 84px;
	width:100%;
/*	z-index:100;*/
}
	
/*
ORDER BUTTON
*/	
.top_header a#order-button {
    position: relative;
    padding: 5px;
    float: right;
    margin: 10px 10px 0 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	background: rgba(255, 255, 255, 0.7);
}
.top_header  a#order-button span.btn-title {
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    font-size: 17px;
    background: #d6585c url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat;
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat, -webkit-gradient( linear, left top, left bottom, from(#eb787b), color-stop(0.50, #ad1a1f), color-stop(0.50, #b5090f), to(#d6585c));
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat,-moz-linear-gradient(top, #eb787b 0%, #ad1a1f 50%,#b5090f 50%, #d6585c 100%);
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat,-o-linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat, linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
    border-radius: 10px;
    z-index: 5;
    text-shadow: 0px 1px 0px #8D827B;
    padding: 2px 15px 2px 45px;
}

.top_header a#order-button:hover{
	background: rgba(255, 255, 255, 1);
}


.day-and-night	{
	display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #00507f;
	font-family: "PTSans_bold";
}

/*
DISCOUNT
*/

.discount-header{
    color: #003675;
    text-align: center;
    position: absolute;
    left: 340px;
    top: -6px;
}
.discount-header div{
    min-width: 200px;
    max-width: 300px;
	margin: 0 auto;
}
.discount-header div.discount-top, .discount-header div.discount-bottom{
	width:200px;
}
.discount-header div img{
    width: 100%;
}
.discount-content{
    margin: 0 auto;
    background: #cbdee8;
    font-size: 18px;
    font-family: "PTSans_bold";
    box-shadow: 0px 0px 1px 1px #e5e5e5 inset;
    border: 1px solid #e6e6e6;
}

.discount-name{
	display:block;
}

.discount-price{
	color:#d82a3a;
}

.discount-old-price{
	text-decoration:line-through;
}


/*
ADVANTAGES
*/

.advantages{
	background:url(../img_thirdDesign/advantages_back.png) no-repeat;
    background-size: cover;
    padding-top: 40px;
    margin-top: 175px;
	height: 172px;
}
.advantages div img{
	float:left;
    margin-right: 5px;
	width:40px;
}
.advantages div{
    margin: 40px 0 0 0;
	color:#0085bd;
	font-size:14px;
    font-family: "PTSans_bold";
    text-transform: uppercase;
	height:107px;
	padding:0 5px;
}
.advantages div span{
	display: table-cell;
/*    height:55px;*/
    vertical-align: middle;
	text-align: left;
}
.advantages div p{
    font-family: "PTSans", arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

.advantages div p.adv-comment{
    border-top: 1px dashed #19a8e6;
    padding-top: 5px;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 7px;
}
.advantages .best-price{
    color: #d82b3a;
    text-shadow: 0px 1px 0px #f5f5f5;
	height:auto;
	font-size: 15px;
}
/*
PRICES BLOCK
*/
.block-prices .container{
    background: url(../img_thirdDesign/big_shad.png) 50% 0 no-repeat, #e4f6f9;
/*	width: 1150px;
	padding: 0 250px 0 0;*/
    position: relative;
}
.block-prices .h1{
	color:#003675;
	font-size:29px;
	text-transform: uppercase;
    position: relative;
	margin: 20px 0;
    padding-top: 120px;
    margin-top: -100px;
}

.block-prices .h1:after{
	content:'';
    width: 100px;
    height: 22px;
    position: absolute;
    bottom: -15px;
}

.block-prices ul li{
	list-style:none;
    padding-left: 2px;
}

.block-prices ul li.kt .h1{
	text-align:right;
}

.block-prices ul li.mrt .h1:after{
	background: url(../img_thirdDesign/lines.png) no-repeat;
    left: 0;
}

.block-prices ul li.kt .h1:after{
	background: url(../img_thirdDesign/lines2.png) no-repeat;
	right: 0;
}

.price-content {
	padding-left:20px;
	border-left:4px solid #19a9e6;
}

.block-prices ul li.kt .price-content {
	border-right:4px solid #19a9e6;
	border-left:none;
}

.price-content table{
	width: 100%;
	font-size:17px;
    font-family: "PTSans_bold";
}
.price-content table td{
	padding: 5px 0 0 5px;
    vertical-align: bottom;
}
.price-content table td.price-name{
    vertical-align: bottom;
    background: url(../img_thirdDesign/tbl-dot.png) repeat-x;
    background-position: 100% 100%;
	min-width:500px;
}
.price-content table td.price-name span{
	background:#e4f6f9;
	color:#17191b;
    padding-right: 10px;
}

.price-content table td.price-new{
	color:#da050d;
	text-align:center;
}

.price-old{
    text-decoration: line-through;
	text-align:center;
}

.price-content .selected td.price-name span {
    color: #054693;
}

/*
FIXED NAVIGATION
*/


    .fixed {
        position:fixed;
        top:-5px; left:0;
        width:100%;
        padding:10px 0;
        
        -moz-box-shadow: 5px 5px 20px #333;
        -webkit-box-shadow: 5px 5px 20px #333;
        box-shadow: 5px 5px 20px #333;
         background-color:rgb(96, 199, 243);
   }




/*
NAVIGATION
*/

.navigation.default{
	display:none !important;
	background:#fff;
    top: 0px;
}
.navigation.fixed{
    top: 0px;
	border-radius: 0 0 7px 7px;
}
.navigation{
	left: 4px;
    width: 75px;
    z-index: 200;
	padding-top:0;
	}
.navigation a{
	position:relative;
	display:block;
	width:70px;
	height:70px;
	background-size:contain !important;
}
.navigation  ul{
	margin:0;
	padding:0;
}
.navigation li:nth-child(1) a{
	background:url(../img_thirdDesign/nav1.png) no-repeat;
}
.navigation li:nth-child(2) a{
	background:url(../img_thirdDesign/nav2.png) no-repeat;
}
.navigation li:nth-child(3) a{
	background:url(../img_thirdDesign/nav3.png) no-repeat;
}
.navigation li:nth-child(4) a{
	background:url(../img_thirdDesign/nav4.png) no-repeat;
}
.navigation li:nth-child(5) a{
	background:url(../img_thirdDesign/nav5.png) no-repeat;
}
.navigation li:nth-child(6) a{
	background:url(../img_thirdDesign/nav6.png) no-repeat;
}
.navigation li:nth-child(7) a{
	background:url(../img_thirdDesign/nav7.png) no-repeat;
}
.navigation li:nth-child(8) a{
	background:url(../img_thirdDesign/nav8.png) no-repeat;
}
.navigation li:nth-child(9) a{
	background:url(../img_thirdDesign/nav9.png) no-repeat;
}

.navigation li:nth-child(1) a:hover{
	background:url(../img_thirdDesign/nav1-hover.png) no-repeat;
}
.navigation li:nth-child(2) a:hover{
	background:url(../img_thirdDesign/nav2-hover.png) no-repeat;
}
.navigation li:nth-child(3) a:hover{
	background:url(../img_thirdDesign/nav3-hover.png) no-repeat;
}
.navigation li:nth-child(4) a:hover{
	background:url(../img_thirdDesign/nav4-hover.png) no-repeat;
}
.navigation li:nth-child(5) a:hover{
	background:url(../img_thirdDesign/nav5-hover.png) no-repeat;
}
.navigation li:nth-child(6) a:hover{
	background:url(../img_thirdDesign/nav6-hover.png) no-repeat;
}
.navigation li:nth-child(7) a:hover{
	background:url(../img_thirdDesign/nav7-hover.png) no-repeat;
}
.navigation li:nth-child(8) a:hover{
	background:url(../img_thirdDesign/nav8-hover.png) no-repeat;
}
.navigation li:nth-child(9) a:hover{
	background:url(../img_thirdDesign/nav9-hover.png) no-repeat;
}



.navigation.fixed ul li:not(:last-child) a:after{
    position: absolute;
    width: 7px;
    left: 47%;
    content: "";
    height: 10px;
    background: #d7e4e9;
    bottom: -6px;
}

.container-shift .navigation p{ 
    margin: 0 0 5px 0;
	padding:0;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px dashed #7bffe8;
    background: #c0d0e2;
    color: #002754;
	text-shadow: 0px 1px 1px #f5f5f5;
}

/*
NAVIGATION MOBILE
*/
#navigation-mobile{
	display:none;
}
.navigation-mobile{
    position: fixed;
	left:0;
    bottom: 0;
	width:100%;
    background: #2eb1e8;
	text-align:center;
}

.navigation-mobile ul li {
    list-style: none;
    display: inline-block;
}
.navigation li:not(:last-child)  a:after{
	content:none;
}
.navigation-mobile ul {
	margin-top:3px;
}
.navigation-mobile ul li a{
    width: 43px;
    height: 43px;
}

/*
FIXED REVIEWS
*/


	.reviews.fixed {
        position:fixed;
        -moz-box-shadow: 5px 5px 20px #333;
        -webkit-box-shadow: 5px 5px 20px #333;
        box-shadow: 5px 5px 20px #333;
        background-color: #f7f7f7;;
		top:80px;
   }
    .reviews.transbg {
        background-color: #f7f7f7;;
    }

/*
REVIEWS
*/
.container{
    position: relative;
}
.review-section .container{
    position: relative;
}

.reviews.default{
	position:absolute;
	z-index:10;
}
.reviews{
    left: 80%;
	top:10px;
	background:#f7f7f7;
	width:230px;
    padding:45px 0 15px 0;
	-webkit-box-shadow:-4px 2px 5px 0px rgba(232, 232, 232, 0.53);
	-moz-box-shadow: -4px 2px 5px 0px rgba(232, 232, 232, 0.53);
	box-shadow: -4px 2px 5px 0px rgba(232, 232, 232, 0.53);
	font-size: 13px;
}
.reviews-h1{
	position: absolute;
    right: -7px;
    top: 0;
    background: url(../img_thirdDesign/reviews-h1.png) 100% 50% no-repeat;
    color: #fff;
    width: 160px;
    height: 55px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: "PTSans_bold", arial, sans-serif;
    font-size: 19px;
}
.review-author{
	font-style:italic;
    margin-left: 45px;
    text-align: right;
}
.review-text{
	margin-top:10px;
}
.one-review{
    background:#f2fafc url(../img_thirdDesign/quotes.png) no-repeat;
	padding: 5px 15px;
	margin-bottom:10px;
}
.one-review img{
	float:right;
    max-width: 80px;
    margin: 5px 0 5px;
}

/*
CALL ME
*/

.call-me{
 	background: url(../img_thirdDesign/call-me.jpg) 100% 100% no-repeat;
    border-bottom: 2px solid #5fc3e8;
    min-height: 70px;
    padding: 20px 67px 15px 40px;
    font-size: 18px;
    margin: 0 auto;
	position:relative;
	margin-bottom:25px;
}
.call-me p{
	text-align:center;
    color: #00507f;
    font-family: "PTSans_bold", arial, sans-serif;
}
.call-me p b{
	font-size: 21px;
}
.call-me img{
	float:left;
}
.call-me:after {
    background: url(../img_thirdDesign/lines2.png) no-repeat;
    content: '';
    width: 100px;
    height: 22px;
    position: absolute;
    bottom: -25px;
	right: 0;
}
/*
DISCOUNT
*/

.discount{
    background: url(../img_thirdDesign/big_shad.png) 50% 0 no-repeat, url(../img_thirdDesign/big_shad_bottom.png) 50% 100% no-repeat, #eff6fe;
    background-size: contain;
    text-align: center;
    padding: 20px 0;
}

.discount .discount-title{
	color:#e32d40;
	font-size:31px;
    text-align: center;
}
.discount p{
	color:#04162c;
	font-size:21px;
    text-align: center;
}

.container_countdown{
	width:320px;
	margin:0 auto;
}
.kons {
    color: #00507f;
    font-size: 19px;
    margin-left: 20px;
	text-align:right;
}
.kons b{
	color:#e32d40;
}

.we-are-best span{
    color: #0085bd;
    font-size: 17px;
    font-family: "PTSans_bold";
    text-transform: uppercase;
    display: table-cell;
    height: 130px;
    vertical-align: middle;
}
.we-are-best p{
	margin-left:30px;
}

.we-are-best div img {
    float: left;
    margin-right: 5px;
}


.container-shift    {
	padding: 0 250px 0 0;
}
.container-shift p{
	margin:5px 20px;
}

/*
DOCTORS
*/
.carousel-doctors span{
	display:block;
}
.carousel-doctors .fio{
	color:#003675;
}
.carousel-doctors .fio span{
	text-transform:uppercase;
}
.carousel-doctors .zvanie{
	color:#101011;	
	font-size: 14px;
}

.carousel-doctors 
{
    background: #e4f6f9;
    padding: 10px;
}

.carousel-doctors  .slide_item{
    background: #f8f8f8;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(232, 232, 232, 0.53);
    -moz-box-shadow: 4px 2px 5px 0px rgba(232, 232, 232, 0.53);
    box-shadow: 4px 2px 5px 0px rgba(232, 232, 232, 0.53);
}

.slide_item{
	display:block;
}

/*
MAP
*/

.main_map {
    width: 100%;
    background: url("../img_thirdDesign/main_map.jpg") no-repeat center;
    background-size: 100%;
    margin-top: 30px;
}
.in_main_map {
    width: 312px;
    height: 454px;
    margin: 0 auto;
}
#kartina {
    display: block;
    position: relative;
    /* background: url("../img_thirdDesign/smal_map3.png") no-repeat center; */
    background: url("../img_thirdDesign/map_small2.png") no-repeat center;
    width: 355px;
    height: 454px;
}
.map_clinic_block {
    position: absolute;
}
#ramsey {
	top:-75px;
	left:-16px;
}
#mart {
	top:-46px;
	left:-90px;
}
#ami {
	top:-60px;
	left:-70px;
}
#expert {
	top:-170px;
	left:20px;
}
#energo_eng {
	top:-140px;
	left:20px;
}
#energo_len {
	top:110px;
	left:-70px;
}
#medem {
	top:-10px;
	left:00px;
}
#polenova {
	top:-30px;
	left:10px;
}
#cmrt {
	top:-90px;
	left:-20px;
}
#kup {
	top:130px;
	left:-10px;
}
#magnet {
	top:20px;
	left:-80px;
}
#standard{
	top:-3px;
	left:70px;
}
#north-west{
	top:50px;
	left:-10px;
}
#ndc_bor{
	top:40px;
    left:-20px;
}
#ndc_isp{
	top:-150px;
    left:-85px;
}
#ndc_ent{
	top:-20px;
    left:90px;
}
#prior{
	top:-140px;
    left:60px;
}
#smt{
	top:-20px;
	left:-40px;
}

.map_clinic_block {
	position:absolute;
}
.map_clinic_block .map_clinic_marker {
	width:30px;
	height:38px;
	background:blue;
	background:url(../img_thirdDesign/marker.png) no-repeat;
	position:absolute;
	left:190px;
	top:193px;
}

.map_clinic_block .map_clinic_marker:hover {
    z-index:1000;
}

.map_clinic_block .map_clinic_description{
	background: url("../img_thirdDesign/map_adres5.png") no-repeat top;
	padding-left:11px;
	width:235px;
    height:194px;
	position:absolute;
	z-index:1;
}
.map_clinic_block .map_clinic_description .delete {
	
}

#map_adres1{
    position: absolute;
    top:-5px;
    left:30px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres5.png") no-repeat top;
    display:none;
}

#map_adres2 {
    position: absolute;
    top:5px;
    left:65px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres6.png") no-repeat top;
    display:none;
}
#map_adres2 :last-child{
    padding-top:2px !important;
}
#map_adres2 :nth-child(2){
    text-align: center;
    padding-left:14px !important;
}

#map_adres3{
    position: absolute;
    top:-55px;
    left:50px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres2.png") no-repeat top;
    display:none;
}

#map_adres4{
    position: absolute;
    top:125px;
    left:35px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres2.png") no-repeat top;
    display:none;
}

#map_adres5{
    position: absolute;
    top:160px;
    left:60px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres.png") no-repeat top;
    display:none;
}

#map_adres6{
    position: absolute;
    top:185px;
    left:20px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres7{
    position: absolute;
    top: -125px;
    left: 86px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres8{
    position: absolute;
    top:75px;
    left:65px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres9{
    position: absolute;
    top:40px;
    left:30px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}

#map_adres10{
    position: absolute;
    top:-20px;
    left:-20px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}
#map_adres10_2{
    position: absolute;
    top:-10px;
    left:-10px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}
#map_adres11{
    position: absolute;
    top:-45px;
    left:45px;
    width:246px;
    height:194px;
    background: url("../img_thirdDesign/map_adres4.png") no-repeat top;
    display:none;
}

.in_main_map p{
    font-size: 10px;
    font-family: "Open SansRegular", Arial, sens-serif;
    color: #009fe2;
    
    text-align:left;
    padding-left:15px;
    padding-top:12px;
}

#map_adres6 p,#map_adres5 p,#map_adres2 p,#map_adres7 p,#map_adres8 p,#map_adres9 p,#map_adres10 p, #map_adres10_2 p,#map_adres11 p{
    padding-left:26px;
}

#map_adres1 p{
    padding-left:25px;
}

#map_adres6 :nth-child(2),#map_adres6 :nth-child(4),#map_adres1 :nth-child(2),#map_adres1 :nth-child(4),
#map_adres2 :nth-child(2),#map_adres2 :nth-child(4),#map_adres3 :nth-child(2),#map_adres3 :nth-child(4),
#map_adres4 :nth-child(2),#map_adres4 :nth-child(4),#map_adres5 :nth-child(2),#map_adres5 :nth-child(4),
#map_adres7 :nth-child(2),#map_adres7 :nth-child(4),
#map_adres9 :nth-child(2),#map_adres9 :nth-child(4),#map_adres10 :nth-child(2),#map_adres10 :nth-child(4)
#map_adres11 :nth-child(2),#map_adres11 :nth-child(4),#map_adres7 :nth-child(2),#map_adres7 :nth-child(4),
#map_adres8 :nth-child(2),#map_adres8 :nth-child(4),#map_adres9 :nth-child(2),#map_adres9 :nth-child(4),
#map_adres10 :nth-child(2),#map_adres10 :nth-child(4),#map_adres11 :nth-child(2),#map_adres11 :nth-child(4),
 .map_adres_class :nth-child(2), .map_adres_class :nth-child(4),.map_clinic_description :nth-child(2), .map_clinic_description :nth-child(4)
{
    color:#fff ;
}

#map_adres6 :last-child,#map_adres6 :nth-child(3),#map_adres1 :last-child,#map_adres1 :nth-child(3),
#map_adres2 :last-child,#map_adres2 :nth-child(3),#map_adres3 :last-child,#map_adres3 :nth-child(3),
#map_adres4 :last-child,#map_adres4 :nth-child(3),#map_adres5 :last-child,#map_adres5 :nth-child(3)
#map_adres7 :last-child,#map_adres7 :nth-child(3),#map_adres8 :last-child,#map_adres8 :nth-child(3)
#map_adres9 :last-child,#map_adres9 :nth-child(3),#map_adres10 :last-child,#map_adres10 :nth-child(3)
#map_adres11 :last-child,#map_adres11 :nth-child(3),#map_adres7 :last-child,#map_adres7 :nth-child(3)
.map_adres_class :last-child,.map_adres_class :nth-child(3),
.map_clinic_description :last-child,.map_clinic_description :nth-child(3)
{
    color:#fff ;
}
 span.delete a{
    color:#fff !important;
    text-decoration:none;
    cursor:pointer;
}
.delete {
    float: right;
    padding-right: 12px;
    display: block;
    margin-top: -3px;
    color: #fff;
}
.in_main_map p {
	font-size: 12px;
    color: #009fe2;
    text-align: left;
    padding-left: 0px;
    padding-top: 6px;
    line-height: 1.1;
	margin:0;
}


/*
QUESTIONS AND ANSWERS
*/

.question-answer{
    background: #f4f6f6 url(../img_thirdDesign/question.png) 5px 7px no-repeat;
    border-radius: 5px;
    padding: 5px 10px 5px 50px;
    margin: 45px 0;
    position: relative;
}
.question{
	padding-left:10px;
	border-left:2px dashed #4adbf9;
}
.question .question-title{
	color:#00435f;
	font-size:19px;
}
.answer{
	color:#202020;
	display:none;
}

.toggle-answer{
    cursor: pointer;
    position: absolute;
    right: 10px;
    display: block;
    background: #105e80;
    padding: 5px 10px;
    color: #fff;
    bottom: -32px;
    border-radius: 0 0 5px 5px;
}

/*
ORDER-FORM
*/

.order-form{
	background:#105e80;
	border-radius:7px;
	position:relative;
	padding:20px 20px 20px 270px;
	text-align:center;
    margin: 30px auto 20px auto;
    max-width: 950px;
}
.order-form  img{
	position:absolute;
    left: 0;
    bottom: -43px;
}

.order-form  p, .order-form  p a{
	color:#c8dde5;
    font-size: 21px;
}
.order-form  p a:hover{
	text-decoration:underline;
}
/*.order-form div{
	width:32%;
	display:inline-block;
}*/

.order-form  form div p{
	text-transform:uppercase;
	color:#fff;
    font-family: "PTSans_bold", arial, sans-serif;
    font-size: 19px;
}

.form_field[type="text"], .form_field[type="tel"], .form_field[type="email"]{
    color: #000;
    margin: 6px 0;
    height: 44px;
    outline: none;
    box-sizing: border-box;
    padding: 4px 38px 4px 5px;
    font-size: 16px;
    line-height: 1.3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 5px 0 rgba(1, 1, 1, 0.3);
    -moz-box-shadow: inset 0 2px 5px 0 rgba(1,1,1,0.3);
    box-shadow: inset 0 2px 5px 0 rgba(1, 1, 1, 0.3);
    border: 2px solid #848484;
    border-bottom-color: #fff;
    border-right-color: #fff;
}

input.your-name{
	background:#e0f2ff url(../img_thirdDesign/input-name.png) 97% 50% no-repeat;
}
input.your-phone{
	background:#e0f2ff url(../img_thirdDesign/input-phone.png) 97% 50% no-repeat;
}

button.order-button{
	position: relative;
    padding: 5px;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.9);
}

button.order-button span{
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    font-size: 17px;
    background: #d6585c;
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat, -webkit-gradient( linear, left top, left bottom, from(#eb787b), color-stop(0.50, #ad1a1f), color-stop(0.50, #b5090f), to(#d6585c));
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat,-moz-linear-gradient(top, #eb787b 0%, #ad1a1f 50%,#b5090f 50%, #d6585c 100%);
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat,-o-linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
    background: url(../img_thirdDesign/top-phone.png) 7% 40% no-repeat, linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
    border-radius: 10px;
    z-index: 5;
    text-shadow: 0px 1px 0px #8D827B;
    padding: 2px 15px 2px 45px;
}


/*
FOOTER
*/
footer{
	background:#f4f6f6;
	min-height:30px;
	padding:20px;
}
footer a.phone-footer{
    font-family: "PTSans_bold", arial, sans-serif;
}
footer div:last-child {
	text-align:right;
	font-size: 17px;
}
footer div:first-child {
	text-align:left;
	font-size: 13px;
}




#mrt-head, #equipment, #doctors, #centers, #questions, #share, #slujba-info{
	margin-top:-100px;
	padding-top:100px;
}



.vrezka{
	background:#f4f6f6 url(../img_thirdDesign/ktdoctor.png) 15px 50% no-repeat;
	border-radius:5px;
	padding:10px 10px 10px 50px;
	overflow:hidden;
}
.vrezka div{
	padding-left:10px;
	border-left:2px dashed #4adbf9;
	color:#00435f;
}

img{max-width:100%;}

input, button{
	outline:none;
}

b, strong{
    font-family: "PTSans_bold", arial, sans-serif;
}

h1 {
	color: #105e80;
	text-transform: uppercase;
	text-align: center;
	padding: 16px 0;
	background:#cee0e4;
    font-family: "PTSans_bold";
}

h2{
	color:#005275;
	text-transform: uppercase;
	text-align: center;
    font-family: "PTSans_bold";
}

ol {
	counter-reset: li;
    list-style: none;
}

ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1em;
    top: 5px;
    background: #fff;
    height: 1.7em;
    width: 1.7em;
    line-height: 1.5em;
    text-align: center;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: #006894;
    font-family: "PTSans_bold";
}
	
ol li	{
    position: relative;
    display: block;
    padding: .4em .4em .4em 1.5em;
    margin: .5em 0;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}









.slider_container img {
	max-width: 100%;
}
.slider_container {
	position: relative;
	text-align:center;
}
.next_button, .prev_button {
	background-color: rgba(46, 177, 232, 0.33);
	border-radius: 10em;
	color: #fff;
	cursor: pointer;
	font-size: 46px;
	padding: 0 25px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order  {
	background-color: #eee;
	padding: 25px 0;
}
.sell_descr {
    font-size: 22px;
    padding-top: 5px;
}
.button {
    background-color: #2bc6a4;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type="text"] {
    display: block;
    line-height: 24px;
    margin: 0 auto 12px;
    width: 90%;
    border: #999 3px solid;
}
button.order-button:hover{
	background: #fff;
}
.pop_form button.order-button:hover {
    background: #e4f4ff;
}
.pop_form button.order-button span{
    background: #d6585c;
    background: -webkit-gradient( linear, left top, left bottom, from(#eb787b), color-stop(0.50, #ad1a1f), color-stop(0.50, #b5090f), to(#d6585c));
    background: -moz-linear-gradient(top, #eb787b 0%, #ad1a1f 50%,#b5090f 50%, #d6585c 100%);
    background: -o-linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
    background:  linear-gradient(top, #eb787b 0%,#ad1a1f 50%,#b5090f 50%,#d6585c 100%);
	padding: 2px 15px 2px 15px;
	text-transform:uppercase;
}

.pop_form h3 {
    margin: 10px auto 15px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "PTSans_bold", arial, sans-serif;
}

.pop_form p{
	max-width:520px;
	text-align:justify;
	font-size:15px;
}

/*
VIDEO
*/
.video{
	max-width:560px;
	width:90%;
	text-align:center;
	margin:0 auto;
}
.video iframe{
    width: 100%;
    height: 300px;
}


marquee{
    position: absolute;
    font-size: 16px;
    color: #003675;
/*    font-family: "PTSans_bold", sans-serif;*/
    width: 35%;
    left: 0px;
    top: 5px;
}



/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo-text{
		display:none;
	}
	.logo-outer{
		padding:0;
	}
	.top_contacts div {
		font-size:26px;
	}
	.advantages	{
		background:none;
	}
	.reviews{
		display:none;
	}
	.container-shift    {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.order-form  p{
		text-align:center;
	}
	.block-prices ul{
		padding:0;
	}
	.price-content table td.price-new {
		padding-right: 10px;
	}
	.kons{
		text-align:center;
	}
	.call-me p b {
		display:block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	marquee{
		position: relative;
		width:100%;
	}
	.over-slider-container{
		position: relative;
		top:0;
	}
	.discount-header{
		left:0;
	}
	.next_button, .prev_button{
		top:30%;
	}
	.sell_right .button {
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}
	.sell_descr {
		text-align: center;
	}

	.main_menu ul {
		background-color: #3797bf;
		display: none;
		position: absolute;
		width: 100%;
		right: -10px;
		min-width: 170px;
	}
	.main_menu ul li {
		display: block;
	}

	.discount-header{
		margin-top: 10px;
		position:relative;
	}
	.discount-content{
		width: 250px;	
	}
	.advantages {
		margin-top:0;
		padding-top:0;
		text-align:center;
	}
	.advantages div{
		margin-top:10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {
	footer div:first-child, footer div:last-child{
		text-align:center;
	}
	.top_links {
		background-color: #585d61;
		display: none;
		margin-top: 15px;
		padding: 14px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
	.logo img{
	   width: 40px;
	}

	.top_contacts div{
		font-size:24px;
	}
	.order-form{
		padding:20px;
	}
	.order-form img{
		display:none;
	}
	.we-are-best div img{
		float:none;
		display:block;
		margin:0 auto;
	}
	.we-are-best span{
		display:block;
		margin:0 auto;
		height:auto;
		text-align: center;
	}
	.call-me{
		padding: 20px 47px 15px 0px;
	}
	.order-form  p {
		font-size:14px;
	}
	.advantages .adv-comment{
		display:none;
	}	
	.price-content table td.price-name {
		min-width: 280px;
	}
	.top_header a#order-button{
		float:none;
		margin:0 auto;
		width:50%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo, .logo-outer{
		display:none;
	}
	.top_contacts  div{
		font-size: 22px;
	}
	.top_contacts a {
		font-size: 14px;
	}
	.top_header a#order-button{
		float:none;
		width:100%;
	}
	.block-prices .h1{
		font-size:24px;
	}
	.price-content table{
		font-size:15px;
	}
	#tabs li a{
	    padding: 10px;
		font-size: 15px;
		max-width: 110px;
		height: 64px;
	}
	#tabs2 li a{
	    padding: 10px;
		font-size: 15px;
		max-width: 90px;
		height: 80px;
		text-transform:none;
	}
	#tabs_container img{
		float:none;
	}
	.in_main_map{
		width:100%;
	}
	.advantages div img {
		float:none;
		display:block;
		margin:0 auto;
	}
	.advantages div span {
		text-align:center;
		display:block;
	}
	#kartina{
		width:100%;
	}
	.container_countdown{
		width:auto;
	}
	.price-content table td.price-name {
		min-width: 10px;
	}
	.flip-clock-wrapper ul{
		width:25px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.flip-clock-wrapper ul{
		width:20px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main_menu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}